/**
 * ACCSENSE scale selector 
 */
.awlScaleSelectContainer{
	position:relative;
	width:197px;
	height:55px;
} 

.awlScaleSelectMinMaxDiv{
	position:relative;
}

.navLabel{
	font: bold 12px Arial;
	color: white;
	text-decoration: none;
	text-align:center;
}
.asLabel {
	position:absolute;
	left:4px; top:3px;
}
.minLabel {
	position:absolute;
	left:103px; top:7px;
}
.maxLabel {
	position:absolute;
	left:103px;	top:30px;
}
.minInputField {
	position:absolute;
	left:30px; top:-3px;
	width:50px;
}
.maxInputField {
	position:absolute;
	left:30px; top:-3px;
	width:50px;
}